.coin-data-container {
    width: 100%;
    border-bottom: solid 1px;
    text-align: left;
    .row {
        display: flex;
        align-items: center;
        height: 10vh;
        .coin-data {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            p {
                width: 100%;
            }
        }
    }
}

.coin{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .coin-name {
        margin-left: 2vw;
    }
    img{
        width: 50px;
        object-fit: cover;
    }
    h1 {
        width: 100%;
    }
    .symbol {
        font-weight: 100;
    }
}

// Responsive Mobile 
.title-m {
    width: 100%;
    height: 100%;
    font-weight: 500;
    p {
        font-weight: 200;
        letter-spacing: .8px;
    }
}

@media screen and (max-width: 650px){
    .coin {
        width: 40%;
    }
    .coin img {
        width: 24px;
        object-fit: cover;
    }
    .coin-data {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .coin-data-container .row .coin-data {
        justify-content: space-between;
    }
    .title-m {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 50%;
    }
}

.red {
    color: #d32f2f;
}
.green {
    color: #80e27e;
}